language: objective-c

env:
    - SPARK_SCHEME=Simian
    - SPARK_SCHEME=SparkCore
    - SPARK_SCHEME=SparkLogger
    - SPARK_SCHEME=SparkServices
    - SPARK_SCHEME=SparkWebService
    - SPARK_SCHEME=SparkObservation
    - SPARK_SCHEME=SparkSerialization
    - SPARK_SCHEME=SparkAttributesCodeGenerator

before_script:
    - chmod +x ./script_simian.sh
    - chmod +x ./script_general.sh
    - sudo easy_install cpp-coveralls

script:
    - if [[ $SPARK_SCHEME == Simian ]]; then ./script_simian.sh; else ./script_general.sh; fi

after_success:
    - ./coveralls.rb --extension m

notifications:
  email:
    - Valery_Demin@epam.com