language: objective-c
env:
    - SPARK_SCHEME=SparkCore
    - SPARK_SCHEME=SparkLogger
    - SPARK_SCHEME=SparkServices
    - SPARK_SCHEME=SparkWebService
    - SPARK_SCHEME=SparkObservation
    - SPARK_SCHEME=SparkSerialization
    - SPARK_SCHEME=SparkAttributesCodeGenerator
    - SPARK_SCHEME=Simian
script:
    - chmod -x ./bin/ci/install_simian.sh
    - chmod -x ./bin/ci/install_oclint.sh
    - chmod -x ./bin/ci/script_simian.sh
    - chmod -x ./bin/ci/script_general.sh
    - ls
    - pwd
    - ./bin/ci/install_simian.sh
    - cat /Users/travis/build.sh
    - if [[ $SPARK_SCHEME == Simian ]]; then ./bin/ci/install_simian.sh; else ./bin/ci/install_oclint.sh; fi
    - if [[ $SPARK_SCHEME == Simian ]]; then ./bin/ci/script_simian.sh; else ./bin/ci/script_general.sh; fi
notifications:
  email:
    - Valery_Demin@epam.com